.card {
    width: 100%;
    height: 85dvh;
    overflow: hidden;
    padding: 25px;
    box-sizing: border-box;
}

.card .nav {
    display: flex;
    width: 100%;
    justify-content: center;
}

.card .nav span {
    margin-left: 5%;
    margin-right: 10%;
    text-align: center;
    font-size: calc(.4em + 1vw)
}

.card .portrait {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    align-items: center;
    position: relative;
    margin-top: 3%;
}

.card .portrait img {
    width: calc(5.5em + 1vw);
    height: calc(5.5em + 1vw);
    object-fit: cover;
    justify-content: center;
    align-content: center;
    border-radius: 50%;
}

.card .details {
    width: 100%;
    text-align: center;
}

.card .details .title {
    color: rgb(211, 211, 211);
    font-size: calc(.5em + 1vw);
    font-weight: bold;
    white-space: normal;
    max-height: 2.5rem;
}

.card .details .artist {
    color: rgb(211, 211, 211);
    font-size: calc(.37em + 1vw);
    font-weight: bold;
    font-style: italic;
}

.card .progressbar {
    margin-top: 15px;
    --thumb-size: 12px;
    --thumb-color: rgb(14, 76, 146);
}

.card .progressbar input {
    width: 100%;
    height: 4px;
    appearance: none;
    outline: none;
}

.card .progressbar input::-webkit-slider-thumb {
    width: var(--thumb-size);
    height: var(--thumb-size);
    border-radius: 50%;
    background: var(--thumb-color);
    cursor: pointer;
    appearance: none;
}

.card .progressbar input::-webkit-slider-thumb:hover {
    background: rgb(13, 27, 77);
}

.card .progressbar input::-moz-range-thumb {
    width: var(--thumb-size);
    height: var(--thumb-size);
    border-radius: 50%;
    background: var(--thumb-color);
    cursor: pointer;
    appearance: none;
}

.card .progressbar input::-moz-range-thumb:hover {
    background: rgb(13, 27, 77);
}

.card .progressbar input::-ms-thumb {
    width: var(--thumb-size);
    height: var(--thumb-size);
    border-radius: 50%;
    background: var(--thumb-color);
    cursor: pointer;
    appearance: none;
}

.card .progressbar input::-ms-thumb {
    background: rgb(13, 27, 77);
}

.card .timer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: calc(.15em + 1vw);
    color: rgb(211, 211, 211);
}

.card .controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    position: relative;
}

.card .controls #prev,
.card .controls #next {
    font-size: calc(2em + 1vw);
}

.card .controls .play {
    display: flex;
    width: 3.2rem;
    height: calc(2.7em + 1vw);
    background: linear-gradient(rgb(255, 255, 255) 0%, rgb(211, 211, 211), 100%);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card .controls .play::before {
    content: "";
    position: absolute;
    height: calc(1.9em + 1vw);
    width: calc(1.9em + 1vw);
    border-radius: inherit;
    background: linear-gradient(rgb(14, 76, 146), rgb(30, 111, 186));
}

.card .controls .play i {
    background: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
}

@media (orientation: landscape) {
    /* Landscape (desktop) layout */
    
    /* Center the MediaCard when SongsList is closed */
    .centered {
        transform: translateX(80%);
        transition: transform 0.5s ease;
    }

    /* Shift the MediaCard to the left when SongsList is open */
    .shift-left {
        transform: translateX(0)
    }

    .card {
        width: 35%;
        height: auto;
        margin: auto;
    }
}

@media (orientation: portrait) {
    .card .nav span {
        font-size: calc(1.15em + 1vw)
    }
    
    .card .portrait {
        margin-top: 35%;
    }

    .card .portrait img {
        width: calc(7.2em + 1vw);
        height: calc(7.2em + 1vw);
    }

    .card .details .title {
        font-size: calc(1.35em + 1vw);
    }

    .card .details .artist {
        font-size: calc(1.05em + 1vw);
    }

    .card .controls #prev,
    .card .controls #next {
        font-size: calc(2.7em + 1vw);
    }

    .card .controls .play {
        height: calc(3.4em + 1vw);
    }

    .card .controls .play:before {
        height: calc(2.6em + 1vw);
        width: calc(2.6em + 1vw);
    }
}